@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&display=swap');
@import url(reset.css);
:root{
    --page-background: #181818; 
    --component-background: #1e1e1e;
    --red:  #A63A50;
    --yellow: #f7b32b; 
    --green: #69995D; 
    --blue: #C5D1EB; 
    --white: #F7F7FF; 
    --font-primary: "Mulish", sans-serif;
    --font-secondary: "Pixelify Sans", sans-serif;
}


 /*PROJECT STYLES*/

body{
    background-color: var(--page-background);
    margin-top: 32px; 
    color: var(--white); 
    font-family: var(--font-primary); 
}

.btn{
    font-family: var(--font-secondary);
    font-size: 16px; 
    background-color: var(--green);
    color: var(--white); 
    border: none; 
    cursor: pointer; 
    padding: 8px 16px; 
    border-radius: 14px; 
}

.chatbot{
    margin: 20px 0;  
    height: 75px; 
    padding: 12px 16px; 
    color: var(--white); 
    width: 500px;  
    font-size: 14px; 
}

.checkbox{
    width: 14px; 
    height: 14px;
    accent-color: var(--green);
    cursor: pointer; 
}
.gradient-border {
  --borderWidth: 3px;
  background: var(--component-background);
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #c1f1b5, #85b978, #69995D, #4b7341, #3e6035, #20351a, #557e4a, #caf4bf);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 6s ease alternate infinite;
  background-size: 300% 300%;
}


h1{
    font-family: var(--font-secondary); 
    font-size: 16px; 
    margin-bottom: 4px; 
}

.high-priority{
    color: var(--red);
}

.low-priority{
    color: var(--blue); 
}

.mid-priority{
    color: var(--yellow); 
}

.page{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.progress-container{
    display: flex; 
    margin-top: 20px; 
    gap: 40px; 
}

.separator{
    height: 1px; 
    width: 100%; 
    border-radius: 20px; 
    background-color: var(--green); 
}

.todos-container{
    display: flex; 
    gap: 32px; 
}

.todo-box{
    min-width: 300px; 
    min-height: 500px; 
    background-color: var(--component-background);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 14px; 
}

.todo-list{
  margin-top: 12px; 
}

.xp-bar { 
  height: 8px;  
  width: 500px; 
  position: relative;
  background: var(--component-background); 
  border-radius: 25px;
  padding: 8px;
  box-shadow: inset 0 -1px 1px rgba(232, 224, 224, 0.3);
}

.xp-bar > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--green);
   box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
        background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}